################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Diploma_Project/FileContentIndex
/.vs/Diploma_Project/FileContentIndex/dadb2dc4-fc78-4f2e-98b2-11d5bb6886e1.vsidx
/.vs/Diploma_Project/v17
/.vs/Diploma_Project/v17/Browse.VC.db-shm
/.vs/Diploma_Project/v17/Browse.VC.db-wal
/.vs/Diploma_Project/v17/Browse.VC.opendb
/.vs/Diploma_Project/v17/Browse.VC.db
/.vs/Diploma_Project/v17/ipch/AutoPCH/8c237e952f8d0b95/APP.ipch
/.vs/Diploma_Project/v17/.suo
/Diploma_Project/imgui.ini
